@use '../../styles' as *;

.onGoingCardContainer {
  @include centerMeColumn;
  gap: 2px;
  justify-content: space-between;
  height: 90px;
  padding: 10px;
  border: 1px solid $mainBkgColor;
  .firstLineCard {
    @include centerMeRow;
    justify-content: left;
    width: 100%;
    img {
      width: 20px;
      padding: 5px;
    }
    label {
      font-size: $minimalTextSize;
      font-weight: bold;
      padding-left: 5px;
    }
  }
  .secondLineCard {
    width: calc(100% - 20px);
    padding: 0 10px;
    label {
      font-size: $minimalTextSize;
      font-family: 'BespokeSerif-Light';
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .thirdLineCard {
    width: 100%;
    @include centerMeRow;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 10px;
    label {
      font-size: 10px;
      &:last-child {
        color: $secondaryFontColor;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    height: 130px;
  }
}
