<div class="headerContainer">
  <div class="restHeaderContainer">
    <div class="firstColumnHeader">
      <div class="pathRootHeader">
        <label>Home / DashBoard / <b> Workplace</b></label>
      </div>
      <div class="firstCardHeader">
        <img src="../../assets/Avatars/avatar5.png" alt="avatar5" />
        <div class="saluteAndText">
          <label class="saluteLine">
            Good Morning, {{ name }} , I wish you happiness every day!</label
          >
          <label class="secondLineSalute"
            >Interaction expert | Ant gold service - {{ business }} -
            {{ platform }} - {{ techDepartment }}
          </label>
        </div>
      </div>
    </div>
    <div class="secondCardHeader">
      <div>
        <label>Number of items</label>
        <label>{{ items }}</label>
      </div>
      <div id="verticalLine">|</div>
      <div class="rankings">
        <label>Team ranking</label>
        <div class="rankingNumbers">
          <label>{{ ranking }} </label>
          <label id="totalUsers">&nbsp;/ {{ totalUsers }}</label>
        </div>
      </div>
      <div id="verticalLine">|</div>
      <div>
        <label>Project visit</label>
        <label>{{ visits }}</label>
      </div>
    </div>
  </div>
</div>
