@use "../../styles" as *;

.headerContainer {
  background-color: white;
  @include centerMeColumn;
  gap: 10px;
  justify-content: space-around;
  .pathRootHeader {
    margin-left: 15%;
    width: 100%;
    label {
      font-size: 16px;
    }
  }
  .restHeaderContainer {
    @include centerMeRow;
    justify-content: space-around;
    width: 100%;
    gap: 15px;
    .firstCardHeader {
      @include centerMeRow;
      gap: 15px;
      img {
        width: 60px;
        padding: 10px;
      }
      .saluteAndText {
        @include centerMeColumn;
        align-items: flex-start;
        gap: 10px;
        .saluteLine {
          font-size: 16px;
          font-weight: 600;
        }
        .secodLineSalute {
          font-size: 15px;
          color: gray;
        }
      }
    }
    .secondCardHeader {
      @include centerMeRow;
      gap: 15px;
      div {
        @include centerMeColumn;
        gap: 5px;
        font-size: 16px;
        label:first-child {
          color: lightgray;
        }
        label:last-child {
          font-size: 18px;
          font-weight: bold;
        }
        .rankingNumbers {
          @include centerMeRow;
          label:first-child {
            font-size: 18px;
            font-weight: bold;
            color: black;
          }
          label:last-child {
            font-size: 16px;
            font-weight: lighter;
            color: lightgray;
          }
        }
      }
    }
  }
}
