<div class="radarChartContainer">
  <p>XX index</p>
  <img src="../assets/radarChart.png" alt="" />
  <div class="lastLineChart">
    <div>
      <div class="RefAndTitle">
        <label id="personalColor">●</label>
        <label id="titleRef">personal</label>
      </div>
      <label>{{ personal }}</label>
    </div>
    <div id="verticalLine">|</div>
    <div>
      <div class="RefAndTitle">
        <label id="teamColor">●</label>
        <label id="titleRef">team</label>
      </div>
      <label>{{ team }}</label>
    </div>
    <div id="verticalLine">|</div>
    <div>
      <div class="RefAndTitle">
        <label id="departmentColor">●</label>
        <label id="titleRef">department</label>
      </div>
      <label>{{ department }}</label>
    </div>
  </div>
</div>
