@use '../../styles' as *;

.navBarDiv {
  @include centerMeRow;
  color: $mainColor;
  background-color: $navBkgColor;
  padding: 7px 0 12px 0;
  margin: 0;
  .navSection {
    width: min(1020px, 100vw);
    label {
      text-align: left;
      font-size: $secondaryTextSize;
      color: $mainColor;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}
