@use "../../styles" as *;

.navBarDiv {
  color: $mainColor;
  text-align: left;
  padding-left: 15px;
  background-color: $navBkgColor;
  padding: 7px 0 12px 0;
  margin: 0;
  label {
    font-size: 13px;
    color: $mainColor;
    margin: 0;
    padding: 0;
    margin-left: $leftMargin;
    width: 100%;
  }
}
