@use "../styles.scss" as *;

.home {
  margin: 0;
  padding: 0;
  div {
    @include centerMeColumn;
    justify-content: flex-start;
    width: 100%;
    gap: $generalGap;
  }
  .restContainer {
    @include centerMeRow;
    align-items: flex-start;
    margin-top: $generalGap;

    .leftColumn {
      @include centerMeColumn;
      width: $leftColumnWidth;
      gap: $generalGap;
      .leftFirstContainer {
        @include centerMeColumn;
        border-radius: 3px;
        p {
          margin: 15px 0;
          font-size: 18px;
        }
      }
      .leftSecondContainer {
        @include centerMeColumn;
        border-radius: 3px;
      }
    }
    .rightColumn {
      @include centerMeColumn;
      width: $rightColumnWidth;
      gap: $generalGap;
    }
  }
}

input {
  text-align: center;
}
