@use '../styles.scss' as *;

.home {
  margin: 0;
  padding: 0;
  // @include centerMeColumn;
  width: 100%;
  div {
    @include centerMeColumn;
    justify-content: flex-start;
    width: 100%;
    gap: $generalGap;
  }
  .restContainer {
    @include centerMeRow;
    align-items: flex-start;
    margin: $generalGap 0;
    .leftColumn {
      @include centerMeColumn;
      width: $leftColumnWidth;
      gap: $generalGap;
      .leftFirstContainer {
        @include centerMeColumn;
        border-radius: 3px;
        p {
          margin: 15px 0;
          font-size: 18px;
        }
      }
      .leftSecondContainer {
        @include centerMeColumn;
        border-radius: 3px;
      }
    }
    .rightColumn {
      @include centerMeColumn;
      width: $rightColumnWidth;
      gap: $generalGap;
    }
    @media screen and (max-width: 1000px) {
      @include centerMeColumn;
      width: 100%;
      .rightColumn,
      .leftColumn {
        width: 90%;
      }
    }
  }
}
