<div class="home">
  <app-navbar></app-navbar>
  <app-header></app-header>
  <div class="restContainer">
    <div class="leftColumn">
      <div class="leftFirstContainer">
        <app-on-going-box style="width: 100%"></app-on-going-box>
      </div>
      <div class="leftSecondContainer">
        <app-dynamic-box style="width: 100%"></app-dynamic-box>
      </div>
    </div>
    <div class="rightColumn">
      <app-radar-chart style="width: 100%"></app-radar-chart>
      <app-team-box style="width: 100%"></app-team-box>
    </div>
  </div>
</div>
