$mainColor: lightgrey;
$mainBkgColor: rgb(241, 240, 240);
$secondaryBkgColor: white;
$mainFontColor: rgb(48, 47, 47);
$secondaryFontColor: rgb(181, 184, 184);
$navBkgColor: rgb(17, 17, 59);
$leftMargin: 6vw;

@mixin centerMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin centerMeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin titleFormat {
  font-weight: bold;
  font-size: 15px;
  color: $mainFontColor;
  text-align: left;
  width: calc(100% - 2 * 15px);
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid $mainBkgColor;
}

body {
  margin: 0;
  background-color: $mainBkgColor;
  color: $mainFontColor;
  font-family: Arial, Helvetica, sans-serif;
}
