$mainColor: lightgrey;
$mainBkgColor: #f1f0f0;
$secondaryBkgColor: white;
$mainFontColor: #302f2f;
$secondaryFontColor: #b5b8b8;
$navBkgColor: #11113b;
$colorRef1: #14cf52;
$colorRef2: blue;
$colorRef3: gold;
$specialColor: #3ad6c7;
$mainTextSize: 16px;
$titleTextSize: 14px;
$secondaryTextSize: 12px;
$specialTextSize: 23px;
$specialTextSize2: 21px;
$minimalTextSize: 12px;
$leftColumnWidth: 700px;
$rightColumnWidth: 300px;
$generalGap: 20px;

@font-face {
  font-family: "BespokeSerif-Bold";
  src: url("./assets/fonts/BespokeSerif-Bold.woff2") format("woff2"),
    url("./assets/fonts/BespokeSerif-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BespokeSerif-Light";
  src: url("./assets/fonts/BespokeSerif-Light.woff2") format("woff2"),
    url("./assets/fonts/BespokeSerif-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BespokeSerif";
  src: url("./assets/fonts/BespokeSerif-Regular.woff2") format("woff2"),
    url("./assets/fonts/BespokeSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin centerMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin centerMeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin titleFormat {
  font-family: "BespokeSerif-Bold";
  font-size: $titleTextSize;
  color: $mainFontColor;
  text-align: left;
  width: calc(100% - 2 * 12px);
  padding: 12px;
  margin: 0;
  border-bottom: 2px solid $mainBkgColor;
}

body {
  margin: 0;
  background-color: $mainBkgColor;
  color: $mainFontColor;
  font-family: "BespokeSerif";
}
