$mainColor: lightgrey;
$mainBkgColor: rgb(241, 240, 240);
$secondaryBkgColor: white;
$mainFontColor: rgb(33, 31, 31);
$secondaryFontColor: rgb(181, 184, 184);
$navBkgColor: rgb(17, 17, 59);
$leftMargin: 6vw;

@mixin centerMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin centerMeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body {
  margin: 0;
  background-color: $mainBkgColor;
  color: $mainFontColor;
  font-family: "Times New Roman", Times, serif;
}
